/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
	text-transform: none;
}

.btn-ms {
	background-color: #00a2ed;
	color: #fff;
}

.btn-ms:hover {
	background-color: #0088cc;
	color: #fff;
}
